<div class="carousel">
    <div class="owl-carousel owl-theme">
        <div>

            <a href="#">
                <%- image_tag('img/head-img.jpg') %>
            </a>
        </div>
        <div>

            <a href="#">
                <%- image_tag('img/head-img.jpg') %>
            </a>
        </div>
        <div>

            <a href="#">
                <%- image_tag('img/head-img.jpg') %>
            </a>
        </div>
        <div>

            <a href="#">
                <%- image_tag('img/head-img.jpg') %>
            </a>
        </div>

    </div>
</div>