
    <% if(config.avatar) { %>
      <div class="avatar">
        <img src="<%- config.avatar %>" alt="avatar">
          <% if(config['aside-description']) { %>
            <div class="content">
                <span><%- config['aside-description'] %></span>
            </div>
          <% } %>
      </div>
    <% } %>