

 <div class="paging">
<div class="paging-container">

<% if (page.total > 1){ %>
  <nav class="pagination" role="navigation">
      <div id="page-nav">
          <%- paginator({
              prev_text: "<span class='fa fa-angle-left'><</span>",
              next_text: "<span class='fa fa-angle-right'>></span>"
          }) %>
      </div>
  </nav>
<% } %>

</div>
</div>
