footer {
  padding:15px 0;
  .copyright {
    @include basic;
    font-size: 14px;
    display: flex;
    line-height: 1.5;
    text-align: center;
    color: #BABABA;
    a {
      &:hover {
        color: $hover-color;
      }
    }
  }
}
